* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    scroll-padding-top: 110px;
}

/*Forms 1*/


.mainContainer1{
    display: grid;
    width: 598px;
    height: 495px;
    grid-template-rows: repeat(5, 99px);
    grid-template-columns: repeat(8, 74px);
    font-family: "Inter", sans-serif; 
    color: #ffffff;
    background-color: #162AE3;
    opacity: 85%;
}

#imageforms1{
    opacity: 25%;
    background-color: #FFFFFF;
    position: absolute;
    width: 598px;
    z-index: 0;
    height: 495px;
    top: 0px;
    left: 0px;
}

.form1{
    grid-row: 2/5;
    grid-column: 2/8;
    width: 441px;
    height: 303px;
    z-index: 2;
}

.title1{
    width: 438px;
    height: 72px;
    margin-bottom: 20px;
    text-align: center;
    grid-column: 2/8;
    grid-row: 2/3;
}

#maintitle1{
    height: 45px;
    font-size: 37px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    letter-spacing: 5,5%;
    font-family: "Inter", sans-serif;
}

#subtitle1{
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1%;
}

.formContainer1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: auto;;
    row-gap: 16px;
    margin-top: 20px;     
}

.name1{
    grid-column: 1 / 2;
}

#name1{
    border-radius: 6px;
    font-size: 16px;
    color: #9CA0AA;
    border: none;
    font-family: "Inter", sans-serif;
    width: 212px;
    height: 43px;
    padding-left: 5px;
}


.email1{
    grid-column: 2 / 3;
    padding-left: 10px;
}

#email1{
    border-radius: 6px;
    font-size: 16px;
    color: #9CA0AA;
    border: none;
    font-family: "Inter", sans-serif;
    width: 212px;
    height: 43px;
    padding-left: 5px;

}

.phone1{
    grid-column: 1 / 3;


}

#phone1{
    border-radius: 6px;
    font-size: 16px;
    color: #9CA0AA;
    border: none;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    width: 441px;
    height: 43px;
    padding-left: 5px;

}

#submitButton1{
    width: 127px;
    height: 47px;
    background-color: #FFFFFF;
    color: #162AE3;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    margin-top: 40px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

/*Forms 2*/

body{
    margin: 0;
    padding: 0;
}

.backgroundForms2{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #AED3CF;

}

.contentForms2{
    display: grid;
    width: 960px;
    height: 540px;
    background-color: #F2EDE6;
    border-radius: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    padding: 40px;
}

.imageForms2{
    grid-row: 1/3;
    grid-column: 1/2;
    width: 275px;
    height: 420px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;  
    margin-left: 40px;
    margin-top: 15px;
}

.imageForms2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.mainContentForms2{
    grid-row: 1/3;
    grid-column: 2/3;
    display: grid;
}

.mainTitle2{
    grid-row: 1/2;
    grid-column: 1/3;
    margin-top: 20px;
    margin-left: 10px;
    height: fit-content;

}

.mainClassTitle2{
    font-family: Playfair Display;
    color: #00054B;
    font-size: 56px;
    font-weight: 400;
}

.content2{
    display: grid;
    width: 456px;
    height: 267px;
    grid-template-rows: repeat(4, 1fr); 
    grid-template-columns: 1.5fr 1fr;
    column-gap: 100px;
       
}
.name2 input{
    grid-row: 1/2;
    grid-column: 1/2;
    height: fit-content;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    outline: none; 
    color: #00024B;
    opacity: 50%;
    border: none;
    border-bottom: solid 2px #00024B;
    background: transparent;
    margin-left: 10px;
}
.email2 input{
    grid-row: 2/3;
    grid-column: 1/2;
    height: fit-content;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    outline: none; 
    color: #00024B;
    opacity: 50%;
    border: none;
    border-bottom: solid 2px #00024B;
    background: transparent;
    margin-top: 52px;
    margin-left: 10px;
    padding-bottom: 15px;


}
.message2 input{
    grid-row: 3/4;
    grid-column: 1/3;
    height: fit-content;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    outline: none; 
    color: #00024B;
    opacity: 50%;
    border: none;
    border-bottom: solid 2px #00024B;
    background: transparent;
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 15px;


}
.submit2{
    grid-row: 4/5;
    grid-column: 1/2;
    height: fit-content;
}

#submitButton2{
    background-color: #00054B;
    color: #FFFFFF;
    width: 200px;
    height: 38px;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 400;
    margin-left: 10px;
    border: none;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
}

.contact2{
    grid-row: 1/2;
    grid-column: 2/2;
    height: fit-content;
}

#contactTitle2{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #00024B;
}

#contactInfo2{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00024B;
    text-decoration: none;
}

#contactContent2{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00024B;
}

.adress2{
    grid-row: 2/3;
    grid-column: 2/2;
    height: fit-content;
    margin-top: 52px;

}
.socials2{
    grid-row: 4/5;
    grid-column: 2/2;
    margin-top: 40px;

}
.socials2 img{
    height: 23px;
    width: 23px;
    margin: 0 6px;
}

/*Forms 3*/

body {
    margin: 0;
    padding: 0;
}

.backgroundForms3{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #DCDCDC;

}

.contentForms3{
    display: grid;
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    border-radius: 10px;
    grid-template-rows: 0.1fr 0.1fr 0.8fr;
    grid-template-columns: auto;
}

.mainTitle3{
    grid-row: 1 / 2;
    margin-top: 40px;
    margin-left: 40px;
}

.mainTitle3 h1{
    font-size: 32px;
    font-family: "Poppins", serif;
    color: #111827;
    font-weight: 700;
    width: fit-content;
}

.subTitle3{
    grid-row: 2 / 3;
    margin-left: 40px;
    width: fit-content;
}

.subTitle3 h2{
    font-size: 16px;
    font-family: "Poppins", serif;
    color: #111827;
    font-weight: 400;
}

.formContainer3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    row-gap: 20px;
    column-gap: 60px;
    width: auto;
}

.formContainer3 > div {
    display: grid;
    grid-template-rows: auto 1fr;  
    column-gap: 40px;
    height: fit-content;
    width: 300px;
}


.labelForm3{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    outline: none; 
    color: #111827;
    margin-left: 40px;
}


 .inputForm3::placeholder {
    color: #979797;
}

.inputForm3{
    margin-left: 40px;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background: #EEF4FF;
    padding-left: 5px;
    border: none;
    margin-top: 5px;
    height: 40px;
    width: 333px;
 }



.name3{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: fit-content;
    

}

.email3{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: fit-content;


}   

.phone3{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: fit-content;
    margin-top: 100px;
}

.phone3 input{
    width: 200px;
    margin-left: 5px;
}

.phone-field{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2px;
    margin-left: 40px;
}

.availability3{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: fit-content;
}
.availability3 input{
    width: 200px;
    margin-left: 0;

}

.availability3 label{
    margin-left: 0;
}

.message3{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.message3 label{
    margin-left: 0;
}

.message3 textarea{
    height: 150px;
    margin-left: 0;
    width: 300px;
    padding-top: 5px;
    align-self: start;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background: #EEF4FF;
    padding-left: 5px;
    border: none;
    margin-top: 5px;
}

textarea{
    resize: none;
}

textarea::placeholder{
    color: #979797;

}

select{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    color: #979797;
    border-radius: 5px;
    background: #EEF4FF;
    padding-left: 5px;
    border: none;
    margin-top: 5px;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

select option{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    color: #979797;
    background-color: #EEF4FF;
}

.submitButton3{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 150px;
    height: 30px;
    background-color: #2563EB;
    color: #FFFFFF;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.material-symbols-outlined{
    vertical-align: middle;
}