* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    scroll-padding-top: 110px;
}

.mainContainer1{
    display: grid;
    width: 598px;
    height: 495px;
    grid-template-rows: (5, 99px);
    grid-template-columns: (8, 74px);
    font-family: "Inter", sans-serif; 
    color: #ffffff;
    background-color: #162AE3;
    opacity: 85%;
}

#imageforms1{
    opacity: 25%;
    background-color: #FFFFFF;
    position: absolute;
    width: 598px;
    z-index: 0;
    height: 495px;
    top: 0px;
    left: 0px;
}

.form1{
    grid-row: 3/5;
    grid-column: 4/8;
    width: 441px;
    height: 303px;
    z-index: 2;
}

.title1{
    width: 438px;
    height: 72px;
    margin-bottom: 20px;
    text-align: center;
    grid-column: 2/8;
    grid-row: 2/3;
}

#maintitle1{
    height: 45px;
    font-size: 37px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    letter-spacing: 5,5%;
}

#subtitle1{
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1%;
}

.formContainer1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 16px;
    margin-top: 20px;     
}
.name{
    grid-column: 1 / 2;
    width: 224px;
    width: 100%;
    height: 43px;
    border-radius: 6px;
    font-size: 16px;
    color: #9CA0AA;
    border: none;
}

.email{
    grid-column: 2 / 3;
    width: 224px;
}

.phone{
     grid-column: 1 / 3;
}

#name1{
    border-radius: 6px;
    width: 212px;
    height: 43px;
    padding-left: 10px;
    font-size: 16px;
    color: #9CA0AA;
    border: none;
}

#email1{
    border-radius: 6px;
    width: 212px;
    height: 43px;
    padding-left: 10px;
    font-size: 16px;
    color: #9CA0AA;
    border: none;
}

#phone1{
    border-radius: 6px;
    width: 450px;
    height: 43px;
    padding-left: 10px;
    font-size: 16px;
    color: #9CA0AA;
    border: none;
    margin-top: 10px;
}

#submitButton1{
    width: 127px;
    height: 47px;
    background-color: #FFFFFF;
    color: #162AE3;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    margin-top: 40px;
}

